 .container {
     margin: 0 auto;
     max-width: 64rem;
 }

 .container.narrow {
     max-width: 56rem;
 }

 @media (min-width: 640px) {
    html { font-size: 112%; }
    .column {
         float: left;
         padding-left: 1rem;
         padding-right: 1rem;
     }
    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }  
 }
 

 @media (min-width: 1024px) {
     html { font-size: 120%; }
 } 

*, *::before, *::after {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 html {
     height: 100%; 
     font-size: 100%;
 }
 
 body {
     font-family: "Raleway", sans-serif;
     font-weight: 400;
     min-height: 100%; 
     padding-bottom: 200px;
     padding-left: 5rem;
 }

a {
    text-decoration: none;
}
 .navbar {
     position: relative;
     margin-top: 3rem;
     margin-right: 5rem;
     background-color: rgba(8,8,8,0.6);
     z-index: 1;
 }

 .navbar .logo {
     font-family: "Sigmar One", cursive;
     position: relative;
     font-size: 3rem;
     color: white;
     cursor: pointer; 
 }
 
 .navbar .links-container {
     display: table;
     position: absolute;
     top: 3rem;
     right: 0;
     height: 132px;
     text-decoration: none;
 }
 
 .links-container .navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: left;
     font-size: 0.625rem;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-decoration: none;
     cursor: pointer;
 }
 
 .links-container .navbar-link:hover {
     text-decoration: none;
 }

.links-container .navbar-link:active {
    background-color: rgba(58,58,58, 1);    
 }
 
 .navbar .logo {
     position: relative; 
     left: 1rem;
 }

.clearfix::before, .clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}

.hero-title {
    margin-bottom: 25px;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.chooseRoom {
    background-color: rgb(180,180,180);
    width: 250px;
    min-height: 600px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    border-radius: 4px;
    margin-top: -21px;
}

.roomLink {
    padding: 5px;
    margin: 8px;
    border: 2px solid white;
    border-radius: 3px;
}

.roomLink:hover {
    background-color: white;
}

.room-link {
    
    font-size: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.createBtn {
    background-color: rgba(8,8,8,0.5);
    color: white;
    padding: .6rem;
    border: none;
    font-size: 1.1rem; 
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    margin-top: 2rem;
    margin-left: 5%;
}

.chatWindow {
    position: absolute;
    min-width: 350px;
    width: 55%;
    max-width: 56rem;
    min-height: 580px;
    background-color:aqua;
    margin-right: 5.5rem;
    margin-bottom: 30%;
    margin-top: -570px;
    margin-left: 280px;
}

.messageView {
    position: absolute;
    min-width: 350px;
    width: 55%;
    max-width: 1200px;
    min-height: 380px;
    background-color: orange;
    margin: 1rem;
}

.chatInterface {
    position: fixed;
    min-width: 350px;
    width: 55%;
    max-width: 1200px;
    height: 70px;
    background-color: deeppink;
    margin: 1rem;
    
}
